.Control{
    width: 100%;
    background-color: rgb(59, 59, 59);
    display: flex;
    padding: 10px;
    position: absolute;
    bottom: 0px;
}
.media-indicator{
    flex: 1;
    width: 400px;
    .media-title{
        text-align: center;
        margin: 0 auto;
        color: white;
        margin-bottom: 6px;
        font-size: 14px;
        padding-left: 40px;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
    }
    .media-title span {
        display: inline-block;
    }
    .timer{
        display: flex;
        text-align: center;

        .timer-count{
            color: white;
            font-size: 13px;
            margin-top: -6px;
            margin-right: 6px;
            margin-left: 6px;
        }

        .timer-length{
            flex: 1;
            -webkit-appearance: none;
            background-color: transparent;
            box-sizing: border-box;
            margin: auto;
            position: relative;
            overflow: hidden;
        }

        .timer-length::-webkit-slider-runnable-track {
            width: 70%;
            height: 8px;
            background: rgb(102, 102, 102);
            border: none;
            border-radius: 10px;
        }
        
        .timer-length::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 12px;
            width: 5px;
            border-radius: 50%;
            background: #ffffff;
            margin-top: -2px;
            box-shadow: -100vw 0 0 100vw rgba(30, 143, 255, 0.3);
        }
    }
}

.rwd-play-stop-fwd{
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
}

.sound-option{
    width: 100px;
    margin-top: 53px;
    margin-left: 20px;
}

.fwd, .rwd {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.playpause {
    width: 18px;
    height: 18px;
    margin-left: 30px;
    margin-right: 30px;
}

.repeat, .shuffle {
    width: 21px;
    height: 21px;
}

.repeat {
    margin-left: 20px;
    margin-right: 20px;
}

.mute {
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

.volume {
    display: flex;
    margin-top: 55px !important;
    width: 150px;
    margin-right: 20px;
}

.volume-range {
    background-color: transparent;
    -webkit-appearance: none;
}

.volume-range::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}