@import "global";

.Control{
    width: 100%;
    background-color: $control-background;
    color: $control-color;
    display: flex;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
.media-indicator{
    flex: 1;
    width: 400px;
    .media-title{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 6px;
        font-size: 13px;
        padding-left: 40px;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
    }
    .media-title span {
        display: inline-block;
    }
    .timer{
        display: flex;
        text-align: center;

        .timer-count{
            font-size: 13px;
            margin-top: -6px;
            margin-right: 6px;
            margin-left: 6px;
        }

        .timer-length{
            flex: 1;
            -webkit-appearance: none;
            background-color: transparent;
            box-sizing: border-box;
            margin: auto;
            position: relative;
            overflow: hidden;
        }

        .timer-length::-webkit-slider-runnable-track {
            width: 70%;
            height: 6px;
            background: rgb(102, 102, 102);
            border: none;
            border-radius: 10px;
        }
        
        .timer-length::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 12px;
            width: 6px;
            border-radius: 50%;
            background: #ffffff;
            margin-top: -2px;
            box-shadow: -100vw 0 0 100vw rgba(30, 143, 255, 0.3);
        }
    }
}

.icon {
    padding: 5px;
}

.rwd-play-stop-fwd{
    text-align: center;
    margin-top: $icon-margin - 10;
    margin-left: $icon-margin + 20;
}

.sound-option{
    width: 100px;
    margin-top: $icon-margin + 33;
    margin-left: $icon-margin;
}

.fwd, .rwd {
    width: $icon-size;
    height: $icon-size;
    margin-left: $icon-margin;
    margin-right: $icon-margin;
}

.playpause {
    width: $icon-size - 3;
    height: $icon-size - 3;
    margin-left: $icon-margin + 10;
    margin-right: $icon-margin + 10;
}

.repeat, .shuffle {
    width: $icon-size + 1;
    height: $icon-size + 1;
}

.repeat {
    margin-left: $icon-margin;
    margin-right: $icon-margin;
}

.mute {
    margin-right: 5px;
    height: $icon-size;
    width: $icon-size;
}

.volume {
    display: flex;
    margin-top: $icon-margin + 35px !important;
    width: 150px;
    margin-right: $icon-margin;
}

.volume-range {
    background-color: transparent;
    -webkit-appearance: none;
}

.volume-range::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}