$header-background: rgb(200, 200, 200) !default;
$menu-background: rgb(221, 221, 221) !default;
$menulist-hover-backround: rgb(200, 200, 200) !default;
$control-background: rgb(59, 59, 59) !default;
$control-color: white !default;
$view-background: rgb(240, 240, 240) !default;
$icon-size: 17px;
$icon-margin: 15px;
