@import "global";

.Menu{
    font-size: 14px;
    width: 180px;
    min-width: 30px;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $menu-background;
    border-right: 1px solid rgb(232, 232, 232);
    .title {
        text-align: center;
        margin-bottom: 8px;
    }
    .title div {
        font-size: 10px;
    }
    .mode-toggle-bar{
        cursor: pointer;
        background-color: rgb(223, 196, 196);
        height: 15px;
        width: 50px;
        border-radius: 15px;
        margin-left: 15px;
    }
    .mode-toggle{
        background-color: rgb(139, 139, 139);
        border-radius: 15px;
        height: 15px;
        width: 25px;
    }
    .menu-list{
        padding: 8px;
        padding-left: 20px;
    }
    .menu-sublist{
        font-size: 13px;
        padding-left: 12px;
    }
    .menu-list:hover{
        background-color: $menulist-hover-backround;
    }
    .menu-sublist:hover{
        background-color: $menulist-hover-backround;
    }
    .no-hover:hover{
        background-color: transparent !important;
    }
    .menu-icon {
        margin-right: 8px;
    }
}

.menu-dropdown {
    display: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 100;
}

.menu-dropdown input { 
    width: 100px;
    height: 20px;
}
