.Menu{
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    min-width: 180px;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgb(232, 232, 232);
    color: rgb(112, 112, 112);
    .title {
        text-align: center;
        margin-bottom: 25px;
    }
    .title h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(25, 147, 151);
        text-shadow: 2px 2px rgb(114, 95, 160);
        font-size: 28px;
    }
    .title div {
        margin-top: -10px;
        font-size: 10px;
    }
    .mode-toggle-bar{
        cursor: pointer;
        background-color: rgb(223, 196, 196);
        height: 15px;
        width: 50px;
        border-radius: 15px;
        margin-left: 15px;
    }
    .mode-toggle{
        background-color: rgb(139, 139, 139);
        border-radius: 15px;
        height: 15px;
        width: 25px;
    }
    .menu-list{
        padding: 8px;
        padding-left: 20px;
    }
    .menu-list:last-child{
        margin-top: 60px;
    }
    .menu-list:hover{
        background-color: rgb(221, 221, 221);
    }
    .menu-sublist:hover{
        background-color: rgb(221, 221, 221);
    }
    .menu-list:last-child:hover{
        background-color: transparent;
    }
    .no-hover:hover{
        background-color: transparent !important;
    }
}

.menu-dropdown {
    display: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 100;
}

.menu-dropdown input { 
    width: 100px;
    height: 20px;
}
