#Music{
    display: block;
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
}

th{
    width: 300px;
    background-color: rgb(243, 243, 243);
    position: sticky;
    top: 0;
    border-bottom-width:12px;
    font-size: 13px;
    font-weight: normal;
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    padding: 3px;
}

th:first-child {
    width: 50px;
}

th:last-child {
    border-right: 0px solid rgb(179, 179, 179);
}

td:nth-child(2) {
    
}

td{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th, td{
    padding-left: 4px;
    padding-right: 4px;
}