#Music{
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}

.table:focus, .column-data:focus {
    outline: none;
}

.headerColumn {
    text-decoration: none;
}

.table-header{
    text-transform: none;
    width: 300px;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
    border-bottom-width:12px;
    font-size: 13px;
    font-weight: normal;
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    padding: 3px;
}

.table-header:first-child {
    width: 50px;
}

.table-header:last-child {
    border-right: 0px solid rgb(179, 179, 179);
}

.column-data {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-header, .column-data {

}
